@import url("https://fonts.googleapis.com/css?family=Roboto");

body{
    margin:0;
    font-family: "Roboto", sans-serif;
}
.header{
    background-color:#1F2937;
    color:white;
    font-weight:bold;
}

.title{
    color:#F9FAF8;
    font-size:24px;
}

.hero{
    color:#F9FAF8;
    font-size:48px;
    font-weight:800;
    margin-top:0px;
}

.header-link, .under-hero{
    color:#E5E7EB;
    font-size:18px;
}

.medium-image{
    width:400px;
    height:auto;
}

.hero-banner{
    background-color:#1F2937;
   
}

button{
    color:#3882F6;
}

.card-image{
    width:150px;
    height:auto;
    border-color:#3882F6;
    border-width: 5px;
    border-style:solid;
    border-radius:2%;
}

.cards-title{
    font-size:36px;
    font-weight:800;
    color:#1F2937
}

.card p {
    font-size:18px;
    color:#1F2937;
}
